<div class="homeContainer">
    <div class="homeMenuContainer">
        <h1>Backend 2 #70280</h1>
        <h3>Agustín Rodríguez</h3>

        <div class="homeRow">MI CARRITO</div>
        <div class="homeRow">PRODUCTOS</div>
        <div class="homeRow admin">VER TODOS LOS CARRITOS</div>
        <div class="homeRow">PRODUCTOS EN TIEMPO REAL</div>
        <div class="homeRow admin">AGREGAR UN PRODUCTO</div>
        <div class="homeRow admin">BORRAR UN PRODUCTO</div>
        <div class="homeRow admin">VER USUARIOS</div>
    </div>
</div>