<div class="container">
    <h1>Real Time Products List</h1>
    {{#each products}}
        <div class="prodRow" id="{{this.id}}">
            <h3 class="prodRow__title">{{this.title}}</h3>
            <p class="prodRow__desc">{{this.description}}</p>
            <p class="prodRow__price">U$S {{this.price}}</p>
            <img class="prodRow__deleteIcon" src="../img/delete.png" alt="">
        </div>
    {{/each}}
</div>


<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module">
    
    const url = ''; // vacío para localhost
    const options = {};

    const socketClient = io(url, options);

    socketClient.on('connect', ()=>{
        console.log(`socket.io Server connected: ${url}`);
    });

    let deleteIcons = document.querySelectorAll('.prodRow__deleteIcon');
    for(let i=0; i<deleteIcons.length;i++){
        deleteIcons[i].addEventListener('click', ()=>{
            let prodId= deleteIcons[i].parentElement.id;
            fetch(`${url}/api/products/${prodId}`, {
                method: 'DELETE',
                body: '',
                headers: {
                    "Content-type":"application/json"
                }
            });
        })
    }

    socketClient.on('refreshNewProd', prod=>{
        let container = document.querySelector(".container");
        let prodRow = document.createElement('div');
        prodRow.classList.add('prodRow');
        prodRow.setAttribute('id', prod.id)
        let title = document.createElement('h3');
        title.classList.add('prodRow__title');
        title.textContent = prod.title;
        let desc = document.createElement('p');
        desc.classList.add('prodRow__desc')
        desc.textContent = prod.description;
        let price = document.createElement('p');
        price.classList.add('prodRow__price');
        price.textContent = `U$S ${prod.price}`;
        let deleteIcon = document.createElement('img');
        deleteIcon.classList.add('prodRow__deleteIcon');
        deleteIcon.setAttribute('src', '../img/delete.png');
        deleteIcon.addEventListener('click', ()=>{
            let prodId= deleteIcon.parentElement.id;
            fetch(`${url}/api/products/${prodId}`, {
                method: 'DELETE',
                body: '',
                headers: {
                    "Content-type":"application/json"
                }
            });
        })

        prodRow.appendChild(title);
        prodRow.appendChild(desc);
        prodRow.appendChild(price);
        prodRow.appendChild(deleteIcon);
        container.appendChild(prodRow);

        Swal.fire({
            position: "top-end",
            title: `Now available:  ${prod.title}`,
            showConfirmButton: false,
            timer: 1800
        });
    })

    socketClient.on('refreshDropProduct', prod=>{
        let  prodRow = document.getElementById(`${prod.id}`);
        Swal.fire({
            position: "top-end",
            title: `Removed:  ${prod.title}`,
            showConfirmButton: false,
            timer: 1800
        });
        prodRow.remove();

    })

    
</script>