body {
    font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181C14;
    color: #ECDFCC;
  }

h1{
  font-size: 50px;
}

.container{
  background-color: transparent;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.prodRow{
  user-select: none;
  background-color: #697565;
  display: grid;
  grid-template-columns: 2fr 5fr 0.5fr 0.5fr 0.5fr;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid #697565;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.prodRow p,h3,img{
  margin-left: 15px;
}

.prodRow__deleteIcon{
  width: 30px;
  height: 30px;
  object-fit: contain;
  object-position: center;
}

.prodRow__cartIcon{
  width: 30px;
  height: 30px;
  object-fit: contain;
  object-position: center;
}

.cart{
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.prodInCart{
  box-sizing: border-box;
  border: 1px solid #ECDFCC;
  padding: 0 20px;
  border-radius: 15px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #697565;
}

#price, #qty{
  text-align: right;
}

.goToCartAnchor{
  align-self: flex-end;
  text-decoration: none;
}

.goToCart{
  background-color: #697565;
  border: 1px solid #ECDFCC;
  border-radius: 15px;
  width: 90px;
  height: 70px;
  color: #ECDFCC;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.goToCart img{
  height: 30px;
  width: 30px;
  margin: 10px
}